
header,h1{
    
    display: flex;
    justify-content: center;
    background-color: red;
}

.box{
    width: 99%;
    height: 600px;
    background-color: blue;
    margin:20px;
    display: flex;
    flex-direction: row;
    margin-top: 0   px;

}
#main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.kaju{
    background-color:orange;
    margin-top: 20px;
    height: 600px;
}
.saho{
    display: flex;
    width: 100%;
    background-color: orangered;
    height: 100px;
}